@keyframes animation-circular
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

@keyframes animation-click-btn
{
	0%
	{
		border-color: #000;
	}
	40%
	{
		border-color: #fff;
	}
	50%
	{
		border-color: #000;
	}
	90%
	{
		border-color: #fff;
	}
	100%
	{
		border-color: #000;
	}
}

@keyframes animation-fade 
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
@keyframes animation-text-fade
{
	100%
	{
		color: transparent;
	}
} 

@keyframes animation-progress
{
	100%
	{
		background-position: 100vw 0%;
	}
}
@keyframes animation-fire
{
	0%
	{
		font-size: 1.8rem;
		text-shadow: 0.1rem 0.1rem 0.1rem #f00,-0.1rem -0.1rem 0.1rem #ff0,-0.1rem 0.1rem 0.1rem #ff0,0.1rem -0.1rem 0.1rem #ff0;
	}
	50%
	{
		font-size: 1.9rem;
		text-shadow: 0.1rem 0.1rem 0.1rem #f00,-0.1rem -0.1rem 0.1rem #f00,-0.1rem 0.1rem 0.1rem #ff0,0.1rem -0.1rem 0.1rem #ff0;
	}
	100%
	{
		font-size: 2rem;
		text-shadow: 0.1rem 0.1rem 0.1rem #f00,-0.2rem -0.2rem 0.4rem #f00,-0.2rem 0.2rem 0.4rem #f00,0.2rem -0.2rem 0.4rem #f00;
	}
}
