
.container-fluid
{
	width: 100%;
	height: auto;
}
.container
{
	max-width: 1170px;
	width: 100%;
	height: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin: 0 auto;
}
.row 
{
	width: unset;
	height: auto;
	margin: 0 -1.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.col 
{
	width: auto;
	height: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}