button
{
	outline: none;
	border: none;
	cursor: pointer;
	pointer-events: auto;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.btn,.button
{
	min-width: 4rem;
	padding: 1rem 2rem;
	outline: none;
	border: none;
	cursor: pointer;
	pointer-events: auto;

	display: inline-block;
	vertical-align: middle;
	text-align: center;

	list-style-type: none;
	text-decoration: none;
}
.input 
{
	min-width:20rem;
	padding: 1.2rem 1.5rem;
	outline: none;
	border: none;
}
.input-group-control
{ 
	position: relative;
	height: auto;
	width: 100%;
	display: flex;
	padding: 0 2rem;
	background: #fff;
	border-radius: 0.5rem;
}
.input-group-control>.input-text
{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	font-size: 1.4rem;
}
.input-group-control>.input-submit 
{
	position: absolute;
	top: 0.2rem;
	bottom: 0.2rem;
	right: 0.3rem;
	min-width: 6rem;
	border-radius: 0.5rem;
	color: #fff;
	background-color: #f63;
	font-size: 1.4rem;
}
.input-group-control>.input-submit-box
{
	position: absolute;
	top: 0rem;
	bottom: 0rem;
	right: 0rem;
	min-width: 6rem;
	color: #fff;
	background-color: #f63;
	border-bottom: 0.3rem solid rgba(250, 250, 250, 0.2);
	font-size: 1.4rem;
}
.input-group-control>.input-submit:focus
{
	animation: animation-click-btn 0.1s linear 0s 1;
}


.position-relative
{
	position: relative;
}
.img-fluid
{
	width: 100%;
	height: auto;
}
.img-thumbnail 
{
	width: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10%;

	background-origin: content-box;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.product-card
{
	border-radius: 0.5rem;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	position: relative;
}
.product-card-body
{
	width: 100%;
	padding: 0.5rem 0.8rem;
	position: relative;
}
.product-card-title
{
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0.5rem 0;
}
.product-card:hover .product-card-title
{
	color: #f63;
}
.product-card-link
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 0.5rem;
}
.product-card-link:hover
{
	border: 0.1rem solid #ddd;
	box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}
.product-card-head
{
	width: 100%;
	padding-top: 100%;
	position: relative;
}
.product-card-thumbnail
{
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
	right: 0.2rem;
	bottom: 0.2rem;
	background-origin: content-box;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.product-card-price
{
	display: inline-block;
	color: #d0011b;
	font-weight: bold;
}
.product-card-price-label
{
	font-size: 1.3rem;
	color: #574454;
}
.product-card-foot
{
	width: 100%;
	padding: 0.5rem 0.8rem 1rem 0.8rem;
	position: relative;
}
.product-card-sale-tag
{
	position: absolute;
	top: 1rem;
	left: 0;
	padding: 0.1rem 0.4rem;
	border-top-right-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	background-color: #f64;
	color: #fff;
	font-size: 1.2rem;
}
.product-card-sale-tag:before
{
	content: "\f00c";
	font-family: "Font Awesome 5 Free";
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}
.product-card-sale-tag:after
{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	border-top: 0.6rem solid #9e2e23;
	border-left: 0.6rem solid transparent;
}
.product-card-bookmark
{
	height: auto;
	width: 5rem;
	text-align: center;
	font-size: 1.6rem;
	font-weight: bold;
	text-shadow: 0.1rem 0.1rem 0.1rem rgba(100,100,100, 0.5), -0.1rem -0.1rem 0.1rem rgba(100,100,100, 0.5), -0.1rem 0.1rem 0.1rem rgba(100,100,100, 0.5), 0.1rem -0.1rem 0.1rem rgba(100,100,100, 0.5);
	word-break: break-all;
	word-break: break-word;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5rem;
	background-color: #ffd839;
	color: #fff;
}
.product-card-bookmark:before
{
	display: block;
	content: "";
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	border-bottom: 1rem solid transparent;
	border-left: 2.5rem solid #ffd839;
	border-right: 2.5rem solid #ffd839;
}


